*{
    margin: 0;
    padding: 0;
}

body{
    margin: 30px 40px 40px 40px;
    padding: 10px 20px; 
    text-align: center;
}
h1{
    font-family:serif;
    font-weight: 100;
}

h2{
    font-family:serif;
    font-weight: 100;
    margin: 16px;
}
p{
    font-family: sans-serif;
    margin: 16px;
}

li{
    background-color: #43abf3 ;
    color:white;
    display: inline-block;
    list-style: none;
    margin: 5px;
    padding: 10px;
    border-radius: 2rem;
    cursor: pointer;
    font-family: sans-serif;
}

#etc{
    background-color: #0b0b16 ;
}

button{
    background-color: #0b0b16 ;
    color:white;
    display: inline-block;
    list-style: none;
    margin: 5px;
    padding: 10px;
    border-radius: 2rem;
    cursor: pointer;
    font-family: sans-serif;
}

footer {
    background-color: #030308;
    color: #fff;
    font-family: "Lora", serif;
    padding: 2rem;
    text-align: center;
}